In [2]:
import pyodbc #in this project i use sql server as i'm unable to install mysql in my laptop due to some work restrection

In [19]:
#now we will create the connection 
connection = pyodbc.connect(r'Driver=SQL Server;Server=MAN5CG2501Y5G\SQLEXPRESS;Database=little_lemon;Trusted_Connection=yes;')
cursor =  connection.cursor()

In [48]:
#Setting up the database: creating strings with the table data

#customer table
create_customer_table = """
      CREATE Customers  (
      CustomerID INT PRIMARY KEY,
      FullName VARCHAR(255),
      ContactNumber VARCHAR(45),
      Email VARCHAR(255)
        );
    """

#Orders table
create_Orders_table = """
    CREATE TABLE Orders (
      OrderID INT PRIMARY KEY,
      customerID INT UNIQUE,
      ProductID INT UNIQUE,
      DeliveryID INT,
      OrderPriority Varchar(45),
      Discount Decimal,
      TotaleCost DECIMAL,
      ShipID INT UNIQUE
    );
    """

#Shipping table
create_Shipping_table = """
    CREATE TABLE Shipping (
      ShipID INT PRIMARY KEY,
      ShipDate DATE,
      ShipMode VARCHAR(45),
      AdressID INT unique,
      ShipCost DECIMAL
    );
    """
#Products table
create_Products_table = """
    CREATE TABLE Products (
      ProductID int PRIMARY KEY,
      ProductName VARCHAR(255),
      AmountInStock int,
      Price Decimal,
      Category Varchar(255),
      SubCategory varchar(255)
    );
    """

#delivery table
create_delivery_table = """
    CREATE TABLE delivery (
      AdressID int PRIMARY KEY,
      Street varchar(255),
      PostCode varchar(255),
      City timestamp,
      State VarChar(255),
      Country varChar(255)
    );
    """

#tables Relations 
create_tables_relations = """
    ALTER TABLE Customers ADD FOREIGN KEY (CustomerID) REFERENCES Orders (customerID);
    ALTER TABLE Products ADD FOREIGN KEY (ProductID) REFERENCES Orders (ProductID);
    ALTER TABLE delivery ADD FOREIGN KEY (AdressID) REFERENCES Shipping (AdressID);
    ALTER TABLE Shipping ADD FOREIGN KEY (ShipID) REFERENCES Orders (ShipID);
    """

#Execute the above queries to create the tables
cursor.execute(create_customer_table)
cursor.execute(create_Orders_table)
cursor.execute(create_Shipping_table)
cursor.execute(create_Products_table)
cursor.execute(create_delivery_table)
# Execute the relation query
cursor.execute(create_tables_relations)

In [51]:
#create getmaxquantity procedures

GetMaxQuantity = """
create procedure GetMaxQuantity()
begin
    select Count(Orders) as max_qt
    from Orders
end;
"""